/java-anatomia-classes/nbproject/private/
/java-anatomia-classes/build/
/dio-bootcamp-java/nbproject/private/
/TiposVariaveis/nbproject/private/
/TiposVariaveis/build/
/operadores/nbproject/private/
/operadores/build/
/smartv/nbproject/private/
/smartv/build/
/teminal-argumentos/nbproject/private/
/teminal-argumentos/build/
/condionais/nbproject/private/
/condicionais/nbproject/private/
/condicionais/build/
/processo-seletivo/nbproject/private/
/desafio-processo-seletivo/nbproject/private/
/processo-seletivo/build/
/contador/nbproject/private/
/contador/build/
