/java-anatomia-classes/nbproject/private/
/java-anatomia-classes/build/
/dio-bootcamp-java/nbproject/private/
/TiposVariaveis/nbproject/private/
/TiposVariaveis/build/
/operadores/nbproject/private/
/operadores/build/
/smartv/nbproject/private/
/smartv/build/
